<form [formGroup]="form" (ngSubmit)="onSubmit()" class="dynamic-form">
  <div *ngFor="let section of uiLayout">
    <h3>{{ section.title }}</h3>
    <div *ngFor="let field of section.fields">
      <label [attr.for]="field.fieldKey">
        {{ field.label }}
        <span *ngIf="field.validations?.required" class="required-asterisk">*</span>
      </label>

      <input *ngIf="field.type !== 'select' && field.type !== 'checkbox'"
             [type]="field.type"
             [formControlName]="field.fieldKey"
             [id]="field.fieldKey"
             [class.invalid]="form.get(field.fieldKey)?.invalid && (form.get(field.fieldKey)?.dirty || form.get(field.fieldKey)?.touched || submitted)">

      <select *ngIf="field.type === 'select'" [formControlName]="field.fieldKey"
              [class.invalid]="form.get(field.fieldKey)?.invalid && (form.get(field.fieldKey)?.dirty || form.get(field.fieldKey)?.touched || submitted)">
        <option *ngFor="let option of field.options" [value]="option.value">{{ option.label }}</option>
      </select>

      <input *ngIf="field.type === 'checkbox'"
             type="checkbox"
             [formControlName]="field.fieldKey"
             [id]="field.fieldKey">

      <div *ngIf="form.get(field.fieldKey)?.invalid && (form.get(field.fieldKey)?.dirty || form.get(field.fieldKey)?.touched || submitted)"
           class="invalid-feedback">
        <div *ngIf="form.get(field.fieldKey)?.errors?.['required']">This field is required.</div>
        <div *ngIf="form.get(field.fieldKey)?.errors?.['minlength']">Minimum length is {{ field.validations?.minLength }}.</div>
        <div *ngIf="form.get(field.fieldKey)?.errors?.['maxlength']">Maximum length is {{ field.validations?.maxLength }}.</div>
        <div *ngIf="form.get(field.fieldKey)?.errors?.['pattern']">Invalid format.</div>
        <div *ngIf="form.get(field.fieldKey)?.errors?.['passwordMismatch']">Password does not match.</div>
        <!-- Add other validation error messages here -->
      </div>
    </div>
  </div>
  <button type="submit" class="submit-button">Submit</button>
</form>
