<form (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm" class="dynamic-form">
  <div *ngFor="let section of uiLayout">
    <div *ngIf="section.title">
      <h3>{{ section.title }}</h3>
    </div>
    <div *ngFor="let field of section.fields" class="form-group">
      <label *ngIf="field.type !== 'toggle'">
        {{ field.label }}
        <span *ngIf="field.validations?.required">*</span>
      </label>
      <input *ngIf="field.type === 'text'"
             [type]="field.type"
             [(ngModel)]="formData[section.title][field.fieldKey]"
             [attr.placeholder]="field.label"
             [required]="field.validations?.required"
             [name]="field.fieldKey"
             #fieldModel="ngModel"
             [ngClass]="{'is-invalid': fieldModel.invalid && (fieldModel.dirty || fieldModel.touched || formDirective.submitted)}">
      <input *ngIf="field.type === 'email'"
             type="email"
             [(ngModel)]="formData[section.title][field.fieldKey]"
             [attr.placeholder]="field.label"
             [required]="field.validations?.required"
             [name]="field.fieldKey"
             #fieldModel="ngModel"
             [ngClass]="{'is-invalid': fieldModel.invalid && (fieldModel.dirty || fieldModel.touched || formDirective.submitted)}">
      <div *ngIf="field.type === 'textarea'">
        <textarea
          [(ngModel)]="formData[section.title][field.fieldKey]"
          [placeholder]="field.label"
          [required]="field.validations?.required"
          [name]="field.fieldKey"
          #fieldModel="ngModel"
          [ngClass]="{'is-invalid': fieldModel.invalid && (fieldModel.dirty || fieldModel.touched || formDirective.submitted)}"></textarea>
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="formDirective.invalid" class="submit-button">Submit</button>
</form>
